SERVICE_NAME=prompt
MONGO_URI=mongodb://phillipvn:123321123@mongodb:27017/prompt
REDIS_URI=redis://:123321123@redis
KAFKA_BROKERS=kafka:9092
JWT_SECRET=phillip_secret_AZAQsew
GOOGLE_CLIENT_ID=398451887247-ng73nqae9c4endu9srpijar0qekn0sd2.apps.googleusercontent.com
CROSS_SERVICE_SECRET=CROSS_SERVICE_SECRET_HERE
CROSS_SERVICE_KEY_VERSION=v1